:root {
    --primary: crimson;
    --dark: #1F2937;
    --darkdark:#111827;
    --light:#f3f4f6;

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans', sans-serif;

}
body {
    background-color: var(--dark);
    color: var(--light);
}
.watch{
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 500px;
    margin: 12rem auto;
    padding: 5rem ;
}
.time {
 font-size: 5rem;
 font-weight: 400;
 margin-bottom: 1rem;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
padding-bottom: 30px;
}
.controls button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: var(--light);
    background-color: var(--primary);
    margin:  0 0.5rem;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    transition: 0.4s;
}
button:hover{
    opacity: 0.7;
}
button:active{
    background-color: var(--dark);
}